/* General */
$scale:14px;                    /* main font size */
$borderRadius:12px;             /* border radius of layout element e.g. card, sidebar */
$transitionDuration:.2s;        /* transition duration of layout elements e.g. sidebar, overlay menus */

@mixin focused-inset() {
  outline: 0 none;
  outline-offset: 0;
  transition: box-shadow .2s;
  box-shadow: inset var(--focus-ring);
}


.layout-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;

  .layout-root-menuitem {
    >.layout-menuitem-root-text {
      font-size: .857rem;
      text-transform: uppercase;
      font-weight: 700;
      color: var(--surface-900);
      margin: .75rem 0;
    }

    >a {
      display: none;
    }
  }

  a {
    user-select: none;

    &.active-menuitem {
      >.layout-submenu-toggler {
        transform: rotate(-180deg);
      }
    }
  }

  li.active-menuitem {
    >a {
      .layout-submenu-toggler {
        transform: rotate(-180deg);
      }
    }
  }

  li {
    margin: 0;
    padding: 0;
    list-style-type: none;

    a {
      display: flex;
      align-items: center;
      position: relative;
      outline: 0 none;
      color: var(--text-color);
      cursor: pointer;
      padding: .75rem 1rem;
      padding: 20px;
      border-radius: $borderRadius;
      transition: background-color $transitionDuration, box-shadow $transitionDuration;

      .layout-menuitem-icon {
        margin-right: .5rem;
      }

      .layout-submenu-toggler {
        font-size: 75%;
        margin-left: auto;
        transition: transform $transitionDuration;
      }

      &.active-route {
        font-weight: 700;
        color: var(--primary-color);
      }

      &:hover {
        background-color: var(--surface-hover);
      }

      &:focus {
        @include focused-inset();
      }
    }

    ul {
      overflow: hidden;
      border-radius: $borderRadius;

      li {
        a {
          margin-left: 1rem;
        }

        li {
          a {
            margin-left: 2rem;
          }

          li {
            a {
              margin-left: 2.5rem;
            }

            li {
              a {
                margin-left: 3rem;
              }

              li {
                a {
                  margin-left: 3.5rem;
                }

                li {
                  a {
                    margin-left: 4rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
