/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat:wght@200&family=Rubik:ital,wght@0,500;1,300&display=swap');
:root {
  //--main-color: #8176FB;
  //--main-color-hover: #7E73F0;
  //--main-color-light: #9288F8;
  //--main-color-outline-light: #BBB6FD;
  //--spinner-color: #8176fb;
  --main-color-1: #344E41;
  --main-color-2: #3A5A40;
  --main-color-3: #588157;
  --main-color-4: #A3B18A;
  --spinner-color: #344E41;
  --background-color: #DAD7CD;
  --main-color-5: #867E4C;
  --focus-ring: 0 0 0 0.1rem var(--main-color-2) !important;
  /*--surface-hover : var(--main-color-outline-light) !important;*/
  // --font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol" !important;
  --border-radius: 8px!important;
  --font-family: 'DM Sans', sans-serif;
}
@media screen and (max-width: 767px) {
  input, select, textarea {
    font-size: 16px !important;
  }
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  -webkit-tap-highlight-color: transparent; /* for removing the highlight */
  //#credential_picker_container {
  //  display: none!important;
  //}
  font-size: 14px!important;
  font-family: var(--font-family);
  font-weight: normal;
  /*background: var(--surface-ground);*/
  /*color: var(--text-color);*/
  /*padding: 1rem;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

