:host /deep/ .p-card {
    height: 100%;
    border-radius: 10px!important;
    /* border: 2px dashed #EDEFF1; */
    box-shadow: none;

}
:host /deep/ .p-card-content {
    /*//background-color:#F0F0F0!important;*/
    border-top: 1px solid #dee2e6;
}

:host /deep/ .p-card-title {
    margin-bottom: 0.7rem;

}
:host /deep/ .p-card-body {
    padding-top: 10px;

}
:host /deep/ .p-speeddial {
    position: relative;
}

:host /deep/ .p-speeddial-button {
    border-radius: 10px!important;
}

:host /deep/ .p-card-header {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1.25rem;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    color: var(--main-color-1);
}

.week-events {
    max-height: 280px;
    overflow: auto;
    padding: 20px;
}

.card-events-container {
    display: grid;
    row-gap: 20px;
    .day-container {
        background: whitesmoke;
        padding: 10px;

        .day-name {
            margin-bottom: 1.5rem;
            color : #DC9D7D;
        }
    }
    .container {
        /* background: whitesmoke; */
        .button {
            width: 40px;
            height: 40px;;
        }
        .event-status-upcoming {
            /*padding: 10px!important;*/
            color: var(--main-color-3);
            background: #E5EFE6;
            border-radius: 5px;
            text-align: center;
        }
        .event-status-finished {
            /*padding: 10px!important;*/
            color: #DAD7CD;
            background: whitesmoke;
            border-radius: 10px;
            text-align: center;
        }
        .event-status-ongoing {
            /*padding: 10px!important;*/
            color: whitesmoke;
            background: var(--main-color-1);
            border-radius: 10px;
            text-align: center;
        }
        
        .event-time-upcoming {
            /*color: #DAD7CD;*/
            color: var(--main-color-3);
        }
        .event-time-finished {
            color: #DAD7CD;
        }
        .event-time-ongoing {
            color: var(--main-color-1)
        }
    }
}

:host /deep/ .add-event-button {
    height: 10px!important;
    margin-right: 20px;
}
.speed-dial {
    position: fixed;
    bottom: 30px; /* Adjust as needed to control vertical placement */
    right: 30px; /* Adjust as needed to control horizontal placement */
    z-index: 1000; /* Adjust the z-index as needed to ensure it appears above other elements */

    .p-speeddial-button:focus {
        box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--main-color-1), 0 1px 2px 0 black;
    }
    .p-speeddial-action {
        height: 80px;
        width: 80px;
    }
    .p-speeddial-button {
        border-radius: 50% !important;
        background: var(--main-color-1);
        border: 1px solid var(--main-color-1);
    }
}


.custom-toast .ui-toast {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
  }

:host /deep/ .p-divider-solid.p-divider-vertical {
    margin: 0;
}

:host /deep/ .p-divider-solid.p-divider-vertical:before {
    border-color: #E1E0E9;
    border-width: 2px;
}

:host /deep/ .time-finished:before{
    border-color: #DAD7CD!important;
}

:host /deep/ .time-ongoing:before{
    border-color: var(--main-color-1)!important;
}

:host /deep/ .time-upcoming:before{
    border-color: var(--main-color-3)!important;
}

:host /deep/ .change-event-modal-container {
    margin: 0;
    max-height: 100%;
    height: 100%;
    width: 100%;
}

:host /deep/ .p-dialog-bottom-right {
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;

}

:host /deep/ .p-dropdown-panel .p-dropdown-items {
    /* padding: 0; */
}
:host /deep/ .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    padding: 5px;
}

/* .time-picker-container {
    .time-picker-1{
        border: 1px solid #CED4DA;
        transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
        border-radius: 8px;
        .appointment-time-picker {
            color: #495057;
            background: #ffffff;
            font-size: 10px;
          }
    }
} */

.appointment-time-picker {
    color: #495057;
    background: #ffffff;
    border: 1px solid #ced4da;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }


:host /deep/ .p-dropdown-items-wrapper {
    max-height: 100px !important;
    overflow: auto;
}

.today-appointments {
    min-height: 300px!important;
}

:host /deep/ .p-inputtext:enabled:focus, :host /deep/ .p-dropdown:focus, :host /deep/ .p-focus   {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.08rem var(--main-color-4);
    border-color: var(--main-color-4);
  }
  
  :host /deep/ .p-inputtext:enabled:hover,  :host /deep/ .p-dropdown:hover {
  
    /* border-color: #3B82F6; */
    border-color: var(--main-color-4);
    }

:host /deep/ .p-dialog .p-dialog-header .p-dialog-title {
    width: 100%;
}

.confirm-edit-appointment {
    background-color: var(--main-color-1);
    border-color: var(--main-color-1);
}

.modal-header {
    border-radius: 10px;
}