<!-- <meta name="theme-color" content="#344E41"/> -->
<div class="container grid">
    <p-toast class="custom-toast" ></p-toast>
    <app-horizontal-calendar *ngIf="containerWidth < 576" [selectedDay]="selectedDate" (onSelectedDayChange)= "onSelectDate($event)"></app-horizontal-calendar>
    <app-calendar *ngIf="containerWidth >= 576" [selectedDay]="selectedDate" (onSelectedDayChange)= "onSelectDate($event)" [containerWidth]="containerWidth" class="col-12 lg:col-6 xl:col-6" ></app-calendar>
    <p-speedDial *ngIf="!editAppointmentDialog" [model]="items" direction="up" class="speed-dial fadeindown animation-duration-200" buttonClassName="w-5rem h-5rem" maskClassName="w-screen h-screen fixed" ></p-speedDial>
    <app-create-appointment (changeAppointmentsModalValue)="changeAppointmentsModalValue($event)" (appointmentsCreated)="onAppointmentsSuccesfull($event)" [addAppointmentsModalVisible] = "addAppointmentsModalVisible"></app-create-appointment>
    <p-card class="col-12 lg:col-6 xl:col-6 mt-5 sm:mt-0" styleClass="sm:shadow-3">
        <ng-template pTemplate="header">
            <div class="text-xl sm:text-2xl">{{firstDayOfSelectedWeek.toLocaleDateString()}} - {{lastDayOfSelectedWeek.toLocaleDateString()}} </div>
        </ng-template>
        <!-- <div class="card-events-container week-events text-sm">
            <div class="container grid" *ngFor="let appointment of appointmentsSelectedWeek">
                <div class="col-12 flex align-items-center font-bold mb-2">{{getDayNameFromDate(appointment.date)}} , {{appointment.date.toLocaleDateString()}} </div>
                <div class="col-2 grid grid-nogutter">
                    <div class="col-12 flex justify-content-center align-items-center" [ngClass]="appointment.status === finishedStatus ? 'event-time-finished' : appointment.status === ongoingStatus ? 'event-time-ongoing' : 'event-time-upcoming'" >{{appointment.hour}}:{{appointment.minute}} </div>
                    <div class="col-12 flex justify-content-center align-items-center" [ngClass]="appointment.status === finishedStatus ? 'event-time-finished' : appointment.status === ongoingStatus ? 'event-time-ongoing' : 'event-time-upcoming'" > -  </div>
                    <div class="col-12 flex justify-content-center align-items-center" [ngClass]="appointment.status === finishedStatus ? 'event-time-finished' : appointment.status === ongoingStatus ? 'event-time-ongoing' : 'event-time-upcoming'" > {{addTwoHoursToTime(appointment.hour, appointment.minute)}}</div>
                </div>
                <p-divider class="col-1"[styleClass]="appointment.status === finishedStatus ? 'time-finished' : appointment.status === ongoingStatus ? 'time-ongoing' : 'time-upcoming'" layout="vertical"></p-divider>
                <div class="col-9 grid grid-nogutter" >
                    <div class="col-12 flex align-items-center font-bold">{{appointment.title}} </div>
                    <div class="col-12 grid grid-nogutter">
                        <div class="col-4 flex align-items-center">{{appointment.trainer}} </div>
                        <div class="col-8 flex align-items-center text-xs">Appointment: {{appointment.number}} </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="card-events-container week-events text-sm p-0 sm:p-3">
            <div *ngFor="let day of daysOfWeek" class=" border-round" [ngClass]="getAppointmentsByDay(day).length !== 0 ? 'day-container' : 'hidden'">
                <div class="day-name col-12 flex align-items-center font-bold" [style.color]="getColorForDay(day)">{{day}} </div>
                <div class="container grid mb-4" *ngFor="let appointment of getAppointmentsByDay(day)">
                    <div class="col-2 grid grid-nogutter">
                        <div class="col-12 flex justify-content-center align-items-center" [ngClass]="appointment.status === finishedStatus ? 'event-time-finished' : appointment.status === ongoingStatus ? 'event-time-ongoing' : 'event-time-upcoming'" >{{appointment.hour}}:{{appointment.minute}} </div>
                        <div class="col-12 flex justify-content-center align-items-center" [ngClass]="appointment.status === finishedStatus ? 'event-time-finished' : appointment.status === ongoingStatus ? 'event-time-ongoing' : 'event-time-upcoming'" > -  </div>
                        <div class="col-12 flex justify-content-center align-items-center" [ngClass]="appointment.status === finishedStatus ? 'event-time-finished' : appointment.status === ongoingStatus ? 'event-time-ongoing' : 'event-time-upcoming'" > {{addTwoHoursToTime(appointment.hour, appointment.minute)}}</div>
                    </div>
                    <p-divider class="col-1"[styleClass]="appointment.status === finishedStatus ? 'time-finished' : appointment.status === ongoingStatus ? 'time-ongoing' : 'time-upcoming'" layout="vertical"></p-divider>
                    <div class="col-9 grid grid-nogutter" >
                        <div class="col-12 flex align-items-center font-bold">{{appointment.title}} </div>
                        <div class="col-12 grid grid-nogutter">
                            <div class="col-4 flex align-items-center">{{appointment.trainer}} </div>
                            <div class="col-8 flex align-items-center text-xs">Appointment: {{appointment.number}} </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-events-container text-sm">
                <div class="container grid">
                    <div class="col-12 flex align-items-center font-bold" *ngIf="appointmentsSelectedWeek.length == 0">
                        No appointments for this week :)
                    </div>
                </div>
            </div>
        </div>
    </p-card>
    <p-card *ngIf="appointments.length != 0" class="col-12 lg:col-6 xl:col-6 mt-1 sm:mt-0 today-appointments" styleClass="sm:shadow-3">
            <ng-template pTemplate="header">
                <div *ngIf="isToday(selectedDate)" class="text-xl sm:text-2xl">Today</div>
                <div *ngIf="!isToday(selectedDate)" class="text-xl sm:text-2xl">{{selectedDate.toLocaleDateString()}} </div>
            </ng-template>
        <div class="card-events-container text-sm">
            <div class="container grid scalein" *ngFor="let appointment of appointments">
                <div class="col-4 grid grid-nogutter">
                    <div class="col-12 flex justify-content-center align-items-center mb-1" [ngClass]="appointment.status === finishedStatus ? 'event-time-finished' : appointment.status === ongoingStatus ? 'event-time-ongoing' : 'event-time-upcoming'" >{{appointment.hour}}:{{appointment.minute}} - {{addTwoHoursToTime(appointment.hour, appointment.minute)}}</div>
                    <div class="col-12 flex justify-content-center align-items-center">
                        <div class="w-9 md:w-7 h-2rem flex justify-content-center align-items-center" [ngClass]="appointment.status === finishedStatus ? 'event-status-finished' : appointment.status === ongoingStatus ? 'event-status-ongoing' : 'event-status-upcoming'">{{appointment.status}} </div>    
                    </div>
                </div>
                <div class="col-6 sm:col-5 grid grid-nogutter" >
                    <div class="col-12 flex align-items-center font-bold">{{appointment.title}} </div>
                    <div class="col-12 grid grid-nogutter">
                        <div class="col-4 flex align-items-center">{{appointment.trainer}} </div>
                        <div class="col-8 flex align-items-center text-xs">Appointment: {{appointment.number}} </div>
                    </div>
                </div>
                <div class="col-2 sm:col-3 flex flex-column sm:flex-row justify-content-evenly align-items-center">
                    <p-button icon="pi pi-user-edit" (onClick)="toggleEditAppointment(appointment)" styleClass="button"  [rounded]="true" [text]="true" [raised]="true" severity="secondary "></p-button>
                    <span style="height: 10px;"> </span>
                    <p-button icon="pi pi-times" (onClick)="toggleDeleteAppointment(appointment)" styleClass="button"  [rounded]="true" [text]="true" [raised]="true" severity="danger "></p-button>
                </div>
            </div>
        </div>
    </p-card>
    <p-card  *ngIf="appointments.length == 0" class="col-12 lg:col-6 xl:col-6 mt-1 sm:mt-0 today-appointments" styleClass="sm:shadow-3">
        <ng-template pTemplate="header">
            <div *ngIf="isToday(selectedDate)">Today</div>
            <div *ngIf="!isToday(selectedDate)">{{selectedDate.toLocaleDateString()}} </div>
        </ng-template>
        <div class="card-events-container text-sm" *ngIf="!noAppointments">
            <div class="container grid" *ngFor="let skeleton of skeletonItems">
                <div class="col-4 grid grid-nogutter">
                    <p-skeleton shape="rectangle"  class="col-12 flex justify-content-center align-items-center" styleClass="h-2rem w-7 mb-1"></p-skeleton>
                    <p-skeleton shape="rectangle"  class="col-12 flex justify-content-center align-items-center" styleClass="h-3rem"></p-skeleton>
                </div>
                <div class="col-7 grid grid-nogutter" >
                    <p-skeleton shape="rectangle"  class="col-12 flex align-items-center font-bold" styleClass="h-2rem w-7 mb-1"></p-skeleton>
                    <p-skeleton shape="rectangle"  class="col-12 flex align-items-center font-bold" styleClass="h-3rem"></p-skeleton>
                </div>
                <p-speedDial [model]="items" direction="left"  buttonClassName=" p-button-icon-only p-button-secondary p-button-rounded p-button-text" showIcon="pi pi-ellipsis-v" hideIcon="pi pi-times" class="col-1"  type="semi-circle"></p-speedDial>
            </div>
        </div>
        <div class="card-events-container text-sm" *ngIf="noAppointments">
            <div class="container grid">
                <div class="col-12 flex align-items-center font-bold">
                    No appointments for this day :)
                </div>
            </div>
        </div>
    </p-card>
    <div #scrollContainer class="w-full" [style.height]="editAppointmentDialogContainerHeight">
        <p-dialog  [draggable]=false (onHide)="closeEditAppointmentModal()" [(visible)]="editAppointmentDialog" position="bottomright" class="col-12 lg:col-6 xl:col-6 mt-5 sm:mt-0 border-round"  styleClass="change-event-modal-container">
            <p-header class="flex align-items-center justify-content-between w-full">
                <span>Edit appointment </span>
                <i pButton class="pi pi-check mr-4 confirm-edit-appointment"  (click)="editAppointment()"></i>
            </p-header>
            <div class="grid mt-1">
                <div class="col-12 h-5rem time-picker-container">
                    <!-- <div class="time-picker-1">
                        <app-time-picker class="appointment-time-picker w-full" [selectedHour]="selectedHour" [selectedMinute]="selectedMinute" (emitHourValueToParent)="setSelectedHour($event)" (emitMinuteValueToParent)="setSelectedMinute($event)"></app-time-picker>
                    </div> -->
                    <div class="p-inputgroup w-full mb-7 sm:mb-8 fadeindown animation-duration-200">
                        <span class="p-inputgroup-addon">
                            <i class="pi pi-clock"></i>
                        </span>
                        <app-time-picker class="appointment-time-picker w-full" [selectedHour]="selectedHour" [selectedMinute]="selectedMinute" (emitHourValueToParent)="setSelectedHour($event)" (emitMinuteValueToParent)="setSelectedMinute($event)"></app-time-picker>
                <!--        <p-calendar  placeholder="Select the hour" [(ngModel)]="appointmentsHour" class="w-full" styleClass="w-full" [readonlyInput]="true" [timeOnly]="true" [showTime]="true" [showSeconds]="false" [hourFormat]="'24'"></p-calendar>-->
                      </div>
                </div>
                <div class="col-4 p-inputgroup" *ngIf="selectedAppointment">
                    <input pInputText placeholder="Title" [(ngModel)]="selectedTitle"/>
                  </div>
                <div class="col-8 p-inputgroup" *ngIf="selectedAppointment">
                    <p-dropdown (onChange)="changeTrainer(selectedAppointment)"  [options]="trainers" [(ngModel)]="selectedTrainer" optionLabel="name" [placeholder]="selectedTrainer?.name" styleClass="w-full"></p-dropdown>
                </div>
            </div>
        </p-dialog>
    </div>

</div>
<div class="menu-title" *ngIf="containerWidth < 576">
    <div class="month">
        {{selectedDate.toLocaleString('default', { month: 'long' })}} ,
    </div>
    <div class="year">
        {{selectedDate.toLocaleString('default', { year: 'numeric' })}}
    </div>
</div>


